@model SilentAppWeb.ViewModels.ResetPasswordViewModel

<form asp-controller="Authentication" asp-action="ChangePasswordConfirmation" data-ajax="true" data-ajax-method="post"
        data-ajax-mode="replace-with" data-ajax-update="#changePasswordRequestForm" data-ajax-begin="changePasswordBegin"
        role="form" id="changePasswordRequestForm" data-ajax-success="changePasswordSuccess">
    <div class="passwordbox">
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input type="password" placeholder="Wprowadź nowe hasło" asp-for="Password">
    </div>
    <span asp-validation-for="Password" class="text-danger error-message"></span>
    <div class="passwordbox">
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input type="password" placeholder="Potwierdź nowe hasło" asp-for="PasswordRepeat">
    </div>
    <span asp-validation-for="PasswordRepeat" class="text-danger error-message"></span>
    <div class="container">
        <div class="center">
            <button class="btn" id="resetPassword" type="submit">Resetuj hasło</button>
        </div>
    </div>
    <input type="hidden" value="@ViewBag.Guid" asp-for="Guid">
    @if (Model != null)
    {
        @if(Model.ValidationMessage != null)
        {
             <p class="text-danger" id="validationMessage" style="text-align:center;">@Model.ValidationMessage</p>
        }

    }
</form>


<script>
    function changePasswordBegin() {
        $('#resetPassword').prop('disabled', true);
    }

    function changePasswordSuccess(result) {
        if (result.status) {
            window.location.href = result.url;
        }
    }
</script>