@model SilentAppWeb.ViewModels.ResetPasswordViewModel
@{
    ViewData["Title"] = "Zmiana hasła";
}
<div class="password-body">
    <div class="password-box">
        <h1>Resetowanie hasła</h1>
        @{
            await Html.RenderPartialAsync("_ChangePasswordForm", Model);
        }
    </div>
</div>

