<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="childgrowth-logs" xsi:type="File"
            fileName="${basedir}\logs\silentapp-logs\${shortdate}.log"
            encoding="utf-8">
      <layout xsi:type="JsonLayout">
        <attribute name="application" layout="SilentApp.API" />
        <attribute name="time" layout="${longdate}" />
        <attribute name="action" layout="${aspnet-MVC-Controller}|${aspnet-MVC-Action}" />
        <attribute name="url" layout="${aspnet-Request-Url}" />
        <attribute name="identity" layout="${aspnet-User-Identity}" />
        <attribute name="referrer" layout="${aspnet-Request-Referrer}" />
        <attribute name="userAgent" layout="${aspnet-Request-UserAgent}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:tostring}" />
      </layout>
    </target>
    <target name="database"
        xsi:type="Database"
        connectionString="server=db,1433;Database=Nlog;user id=TEST_API_SILENTAPP;password=m+XpM7pvJJ3z!_B$;"
        commandType="StoredProcedure"
        commandText="[dbo].[LOG_ERROR]"
        >
      <parameter name="@APPLICATION" layout="SilentApp.API" />
      <parameter name="@ERROR_DATE" layout="${date}" />
      <parameter name="@ACTION" layout="${aspnet-MVC-Controller}|${aspnet-MVC-Action}" />
      <parameter name="@URL" layout="${aspnet-Request-Url}" />
      <parameter name="@IDENTITY" layout="${aspnet-User-Identity}" />
      <parameter name="@REFERRER" layout="${aspnet-Request-Referrer}" />
      <parameter name="@USER_AGENT" layout="${aspnet-Request-UserAgent}" />
      <parameter name="@TITTLE" layout="${message}" />
      <parameter name="@EXCEPTION" layout="${exception:tostring}" />
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Warn" writeTo="silentapp-logs" />
    <logger name="*" minlevel="Warn" writeTo="database" />
  </rules>
</nlog>